{% load static %}
<footer class="site-footer">
    <div class="footer-layout">
  
      <!-- First Column: The Collect Room Links -->
      <div class="footer-box">
        <h3>The Collect Room</h3>
        <p><a href="https://thecollectroom.com/company-profile/">About Us</a></p>
        <p><a href="https://thecollectroom.com/contacts/">Contact Us</a></p>
        <p><a href="https://thecollectroom.com/contacts/">Affiliate Marketing</a></p>
        <p><a href="https://thecollectroom.com/authenticity/">Hologram Lookup</a></p>
        <p><a href="https://thecollectroom.com/terms-conditions/">Terms & Conditions</a></p>
        <p><a href="https://thecollectroom.com/faqs/">FAQs</a></p>
        <!-- <div class="footer-box-news">
            <h3>Newsletter</h3>
            <p>Get all the latest information on Events, Sales and Offers. Sign up for newsletter today.</p>
            <form class="newsletter-form">
            <input style="margin-top: 1rem; width: 200px; border-radius: 0px;" type="email" placeholder="Email Address" required>
            <button style="margin-top: 1rem; width: 200px; border-radius: 0px;" type="submit">Subscribe</button>
            </form>
        </div> -->
        </div>

        
      <!-- Second Column: Keep in Touch -->
      <div class="footer-box">
        <h3>Keep in Touch</h3>
        <p><a href="https://thecollectroom.com/bulk-order/">Bulk Order and B2B Enquiries
            Corporate Gifting</a></p>
        
      </div>

      <!-- third Column: Shipments Delivered Via -->
      <div class="footer-box" style="flex: 1 1 20%;padding-bottom: 3rem;">
        <h3>Shipments Delivered Via</h3>
        <div class="shipping-methods">
            <img src="{% static 'images/shipping.jpg' %}" alt="Carrier 1" class="footer-image">
            
        </div>
        <div class="footer-box-news">
            <h3>Payment Method</h3>
            <div class="payment-methods">
                <img src="{% static 'images/payment_logo.png' %}" alt="Carrier 1" class="footer-image">    
            </div>
        </div>
    </div>

    
    </div>
    <div class="footer-bottom">
        <hr class="footer-divider">
        
        <div class="footer-logo-container">
          <img src="{% static 'images/logo_white_italic.png' %}" alt="Logo" class="footer-logo">
        </div>
      
        <div class="footer-copy">
          © 2025 thecollectroom.com – All Rights Reserved. Registered under ESC General Trading Co. LLC
        </div>
      </div>
      

  </footer>
  

