{% extends "base.html" %}
{% load static %}

{% block title %}The Collect Room | Get Your Promo Code{% endblock %}

{% block content %}
<div class="container" style="text-align: center; padding: 1rem;">
  <h2>Scan This QR Code</h2>
  <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 0rem;">
    <img src="{% static 'images/1.png' %}" alt="Logo 1" style="height: 100px;" />
    
    <div style="height: 55px; border-left: 3.1px solid #000;"></div>
    
    <img src="{% static 'images/logo2.jpg' %}" alt="Logo 2" style="height: 120px;" />
  </div>

  <img src="data:image/png;base64,{{ qr_base64 }}" alt="QR Code" />
  <p>Scan the QR to submit your promo details.</p>
</div>
{% endblock %}
